.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--mantine-color-body);
}

.main {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
}
